<nav>
  <a routerLink="/" routerLinkActive="active">Books</a>

  <a *ngIf="(currentUser$ | async) as user"
     routerLink="/my-books"
     routerLinkActive="active">
     My Books
  </a>

  <a *ngIf="user?.role === 'librarian'"
     routerLink="/librarian"
     routerLinkActive="active">
     Librarian
  </a>

  <span *ngIf="user">
    Welcome, {{ user?.fullName }}
  </span>

  <button *ngIf="user" (click)="logout()">Logout</button>

  <a *ngIf="!user" routerLink="/login">Login</a>
</nav>

<router-outlet></router-outlet>